<div class="card-grid" >
    <!-- <mat-icon>home</mat-icon>  import of icons dont work, but they work on other components... why though... -->
    <div class=".card.card-shadow"> Petrov
        <div class="card-header1">
            <img src="url(../../../../assets/carolinelmPetrov.jpg" class="docImagePetrov">
            <div style="display: flex; margin: 1rem; padding: 1 rem; justify-content: space-between;">
                <details style="padding-left: 0.1rem; cursor: pointer; ">
                <summary class="summary" style="color: rgb(101, 132, 235) ;"> Details </summary>
                <p class="summary" > Petrov : Specialist in brilliant smiles :) </p>
            </details>
            <button class="mat-button  mat-raised-button" [routerLink]="'/datepicker'" routerLinkActive="router-link-active" style="color: rgb(169, 169, 245)">  
                 <mat-icon>calendar_today</mat-icon>
                Reserve appointment</button>
        </div>
        </div>
          <footer> Photo by <a href="https://unsplash.com/@carocaro1987?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Caroline LM</a> on 
            <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </footer>  
    </div>

    <div class=".card.card-shadow"> Angelova
        <div class="card-header2">
            <img src="url(../../../../assets/carolinelmAngelova.jpg" class="docImageAngelova">
            <div style="display: flex; margin: 1rem; padding: 1 rem; justify-content: space-between;">
            
            <details style="padding-left: 0.1rem; cursor: pointer; ">
                <summary class="summary" style="color: rgb(219, 79, 79) ;"> Details </summary>
                <p class="summary"> Angelova Specialist in sunny smiles :) </p>
            </details>
            <button  class="mat-button  mat-raised-button" [routerLink]="'/datepicker'" routerLinkActive="router-link-active" style="color: rgb(219, 79, 79)">
                <mat-icon>calendar_today</mat-icon>
             Reserve appointment</button>
   
            </div>
    </div>
    
   
    
    <footer>
             Photo by <a href="https://unsplash.com/@geodays?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Geo Days</a> on <a href="https://unsplash.com/s/photos/dentist?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </footer>
</div>
</div>